.image-1-icon,
.pngegg-5-icon,
.pngegg-5-icon1,
.pngegg-5-icon2 {
  position: absolute;
  top: 967px;
  left: 718px;
  width: 114px;
  height: 181px;
  object-fit: cover;
}
.image-1-icon,
.pngegg-5-icon1,
.pngegg-5-icon2 {
  left: 1101px;
}
.image-1-icon,
.pngegg-5-icon2 {
  top: 1021px;
  left: 326px;
  width: 1146.9px;
  height: 138px;
}
.pngegg-5-icon2 {
  top: 822px;
  left: 1679px;
  width: 161px;
  height: 236px;
}
.download-4-icon,
.pngegg-4-5,
.pngegg-4-6 {
  position: absolute;
  top: 1021px;
  left: 1423px;
  width: 497px;
  height: 243px;
  object-fit: cover;
}
.pngegg-4-5,
.pngegg-4-6 {
  top: 640px;
  left: 398px;
  width: 94px;
  height: 94px;
}
.pngegg-4-5 {
  left: 466px;
}
.download-2-icon,
.download-3-icon,
.minecraft-stone-block-icon {
  position: absolute;
  top: 1140px;
  left: 915px;
  width: 591px;
  height: 127px;
  object-fit: cover;
}
.download-2-icon,
.minecraft-stone-block-icon {
  left: 365px;
}
.minecraft-stone-block-icon {
  top: 1267px;
  left: 0;
  width: 750px;
  height: 195px;
}
.minecraft-stone-block-icon1,
.minecraft-stone-block-icon2,
.minecraft-stone-block-icon3 {
  position: absolute;
  top: 1264px;
  left: -450px;
  width: 750px;
  height: 195px;
  object-fit: cover;
}
.minecraft-stone-block-icon2,
.minecraft-stone-block-icon3 {
  left: 1319px;
}
.minecraft-stone-block-icon3 {
  top: 1265px;
  left: 931px;
  width: 775px;
}
.a5c6272018cd9937cc8295d2c6e398-icon,
.minecraft-stone-block-icon4 {
  position: absolute;
  top: 1264px;
  left: 1532px;
  width: 750px;
  height: 195px;
  object-fit: cover;
}
.a5c6272018cd9937cc8295d2c6e398-icon {
  top: 1267px;
  left: 0;
  width: 210px;
}
.test-child,
.test-item {
  position: absolute;
  top: 3309px;
  left: 194px;
  border-radius: var(--br-26xl);
  background-color: var(--color-gray-100);
  width: 1532px;
  height: 846px;
}
.test-item {
  top: 4250px;
  left: 31px;
  width: 112px;
  height: 50px;
}
.home,
.patharapol-chaisrithong {
  position: absolute;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: right;
}
.patharapol-chaisrithong {
  top: 4256px;
  left: 174px;
  text-decoration: underline;
}
.home {
  top: 4255px;
  left: 43px;
  cursor: pointer;
}
.stashcrown-solid-icon {
  position: absolute;
  top: 263px;
  left: 1300px;
  border-radius: 21px;
  width: 110px;
  height: 93px;
  overflow: hidden;
}
.pngegg-5 {
  position: absolute;
  top: 1087px;
  left: 899px;
  filter: blur(4px);
  width: 114px;
  height: 210px;
}
.pngegg-icon,
.pngegg-icon1,
.pngegg-icon2 {
  position: absolute;
  top: 271px;
  left: 669px;
  width: 90px;
  height: 77px;
  object-fit: cover;
}
.pngegg-icon1,
.pngegg-icon2 {
  top: 458px;
  left: 1565px;
  width: 20px;
  height: 20px;
}
.pngegg-icon2 {
  top: 693px;
  left: 1166px;
  width: 62px;
  height: 53px;
}
.pngegg-7-icon {
  position: absolute;
  top: 887.5px;
  left: 1471px;
  width: 70px;
  height: 55px;
}
.pngegg-1-1,
.pngegg-3-1,
.pngegg-3-2,
.pngegg-8-1,
.pngegg-8-2 {
  position: absolute;
  top: 0;
  left: 194px;
  width: 427px;
  height: 252px;
  object-fit: cover;
}
.pngegg-1-1,
.pngegg-3-1,
.pngegg-3-2,
.pngegg-8-2 {
  left: 1366px;
}
.pngegg-1-1,
.pngegg-3-1,
.pngegg-3-2 {
  left: 0;
  width: 46px;
  height: 51px;
}
.pngegg-1-1,
.pngegg-3-2 {
  top: 207px;
  left: 1061px;
  width: 40px;
  height: 56px;
}
.pngegg-1-1 {
  left: 1286px;
  width: 95px;
  height: 90px;
}
.coin-and-star,
.group-child {
  position: absolute;
  top: 418px;
  left: 422px;
  width: 1381px;
  height: 297px;
}
.group-child {
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  filter: blur(4px);
  border-radius: var(--br-11xl);
  background-color: var(--color-aliceblue-100);
  width: 318px;
  height: 62px;
  cursor: pointer;
}
.portfoilo {
  position: absolute;
  top: 31px;
  left: 16px;
  line-height: 0%;
}
.rectangle-parent {
  position: absolute;
  top: 897px;
  left: 630px;
  width: 318px;
  height: 62px;
  font-size: var(--font-size-21xl);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  filter: blur(4px);
  border-radius: var(--br-11xl);
  background-color: var(--color-aliceblue-100);
  width: 307px;
  height: 60px;
  cursor: pointer;
}
.contract,
.rectangle-group {
  position: absolute;
  top: 4px;
  left: 33px;
}
.rectangle-group {
  top: 897px;
  left: 996px;
  width: 307px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.chaisrithong {
  top: 423px;
  left: 300px;
  font-size: var(--font-size-109xl);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.about-me,
.chaisrithong,
.patharapol,
.pung {
  position: absolute;
  line-height: 127.51%;
}
.pung {
  top: 458px;
  left: 1599px;
  font-size: 35px;
  text-decoration: underline;
  font-family: var(--font-sulphur-point);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 58px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.about-me,
.patharapol {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.patharapol {
  top: 291px;
  left: 544px;
  font-size: var(--font-size-109xl);
}
.about-me {
  top: 1585px;
  left: 131px;
  font-size: 100px;
}
.my-name-is {
  margin: 0;
}
.my-name-is-container1 {
  width: 100%;
}
.my-name-is-container {
  top: 1715px;
  font-family: var(--font-space-grotesk);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 742px;
  height: 252px;
}
.as-a-first-year,
.my-name-is-container,
.my-vision {
  position: absolute;
  left: 146px;
  line-height: 127.51%;
}
.my-vision {
  top: 1967px;
  font-size: var(--font-size-53xl);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.as-a-first-year {
  top: 2087px;
  font-family: var(--font-space-grotesk);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 742px;
  height: 252px;
}
.test-inner {
  position: absolute;
  top: 1522px;
  left: 984px;
  border-radius: 200px;
  background-color: var(--color-gray-100);
  width: 756px;
  height: 78.7px;
}
.group-inner,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-58xl);
  background-color: var(--color-white);
  width: 18.4px;
  height: 15.7px;
}
.rectangle-div {
  left: 22.1px;
}
.rectangle-container {
  position: absolute;
  top: 1553px;
  left: 1639px;
  width: 40.5px;
  height: 15.7px;
}
.contact,
.home1,
.portfolio {
  position: absolute;
  top: 1538.7px;
  display: inline-block;
  color: var(--color-white);
  text-align: left;
  height: 30.6px;
}
.home1 {
  left: 1071px;
  width: 97.1px;
  cursor: pointer;
}
.contact,
.portfolio {
  left: 1204px;
  width: 197.2px;
}
.contact {
  left: 1437px;
  width: 165.5px;
  cursor: pointer;
}
.s-11567114-0-1-icon {
  position: absolute;
  top: 1648px;
  left: 943px;
  width: 803px;
  height: 1305px;
  object-fit: cover;
}
.bachelors-degree-of {
  position: absolute;
  top: 2413px;
  left: 151px;
  line-height: 127.51%;
  font-family: var(--font-space-grotesk);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 742px;
  height: 252px;
}
.skill,
.university {
  position: absolute;
  top: 2339px;
  left: 146px;
  font-size: var(--font-size-53xl);
  line-height: 127.51%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.skill {
  top: 2619px;
  left: 150px;
}
.negotiation-skills {
  margin-bottom: 0;
}
.negotiation-skills-problem-sol {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 36px;
}
.negotiation-skills-problem-sol-container {
  position: absolute;
  top: 2773px;
  left: 147.1px;
  line-height: 127.51%;
  font-family: var(--font-space-grotesk);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 389.9px;
  height: 132.4px;
}
.resume {
  position: absolute;
  top: 2979px;
  left: 149px;
  font-size: var(--font-size-53xl);
  line-height: 127.51%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.deviconfacebook,
.skill-iconsinstagram,
.skill-iconslinkedin {
  position: absolute;
  width: 55px;
  height: 55px;
  overflow: hidden;
  cursor: pointer;
}
.skill-iconslinkedin {
  top: 4242px;
  left: 1081px;
  border-radius: var(--br-xl);
}
.deviconfacebook,
.skill-iconsinstagram {
  top: 4240px;
}
.skill-iconsinstagram {
  left: 805px;
  border-radius: var(--br-xl);
}
.deviconfacebook {
  left: 943px;
  border-radius: 19px;
}
.contact-me,
.div,
.inompungzgmailcom {
  position: absolute;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: right;
}
.contact-me {
  top: 4185px;
  left: 1699px;
  text-decoration: underline;
  display: inline-block;
  width: 174px;
}
.div,
.inompungzgmailcom {
  font-weight: 300;
}
.div {
  top: 4237px;
  left: 1578px;
  display: inline-block;
  width: 295px;
}
.inompungzgmailcom {
  top: 4271px;
  left: 1547px;
}
.certificate,
.competitions {
  position: absolute;
  top: 3344px;
  left: 1048px;
  font-size: var(--font-size-53xl);
  text-align: left;
}
.competitions {
  left: 245px;
}
.rectangle-icon,
.test-child1,
.test-child2,
.test-child3 {
  position: absolute;
  top: 3455px;
  left: 236px;
  border-radius: var(--br-31xl);
  width: 712px;
  height: 300px;
  object-fit: cover;
}
.test-child1,
.test-child2,
.test-child3 {
  top: 3786px;
}
.test-child2,
.test-child3 {
  left: 971px;
}
.test-child3 {
  top: 3455px;
}
.test-child4 {
  left: 1016px;
  background-color: var(--color-gainsboro);
  width: 287px;
}
.icon,
.icon1,
.test-child4,
.test-child5 {
  position: absolute;
  top: 3821px;
  height: 230px;
}
.test-child5 {
  left: 1357px;
  background-color: var(--color-gainsboro);
  width: 287px;
}
.icon,
.icon1 {
  left: 1010px;
  width: 293px;
  object-fit: cover;
}
.icon1 {
  left: 1351px;
}
.test-child6 {
  left: 1016px;
  background-color: var(--color-gainsboro);
  width: 287px;
}
.icon2,
.icon3,
.test-child6,
.test-child7 {
  position: absolute;
  top: 3490px;
  height: 230px;
}
.test-child7 {
  left: 1357px;
  background-color: var(--color-gainsboro);
  width: 287px;
}
.icon2,
.icon3 {
  left: 1010px;
  width: 293px;
  object-fit: cover;
}
.icon3 {
  left: 1351px;
}
.test-child8 {
  left: 281px;
  background-color: var(--color-gainsboro);
  width: 287px;
}
.icon4,
.icon5,
.test-child8,
.test-child9 {
  position: absolute;
  top: 3490px;
  height: 230px;
}
.test-child9 {
  left: 622px;
  background-color: var(--color-gainsboro);
  width: 287px;
}
.icon4,
.icon5 {
  left: 275px;
  width: 293px;
  object-fit: cover;
}
.icon5 {
  left: 616px;
}
.test-child10,
.test-child11 {
  position: absolute;
  top: 3821px;
  left: 293px;
  background-color: var(--color-gainsboro);
  width: 287px;
  height: 230px;
}
.test-child11 {
  left: 634px;
}
.icon6,
.icon7,
.pngegg-4-2,
.pngegg-4-3 {
  position: absolute;
  top: 3821px;
  left: 287px;
  width: 293px;
  height: 230px;
  object-fit: cover;
}
.icon7,
.pngegg-4-2,
.pngegg-4-3 {
  left: 628px;
}
.pngegg-4-2,
.pngegg-4-3 {
  top: 3114px;
  left: 148px;
  border-radius: var(--br-xl);
  width: 375.8px;
  height: 100.7px;
}
.pngegg-4-3 {
  left: 336px;
}
.click-me {
  position: absolute;
  top: 3125px;
  left: 143px;
  font-size: 50px;
  line-height: 127.51%;
  display: flex;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  width: 369.4px;
  height: 77.1px;
}
.material-symbols-lightmail-icon,
.solarphone-bold-icon {
  position: absolute;
  top: 4237px;
  left: 1618px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.material-symbols-lightmail-icon {
  top: 4271px;
  left: 1498px;
  width: 39px;
  height: 39px;
}
.s189772745713394276-p3855-i147-icon {
  position: absolute;
  top: 1266px;
  left: 1513px;
  width: 193px;
  height: 193px;
  object-fit: cover;
}
.a5c6272018cd9937cc8295d2c6e398-icon1,
.download-1-icon {
  position: absolute;
  top: 1267px;
  left: 739px;
  width: 204px;
  height: 193px;
  object-fit: cover;
}
.download-1-icon {
  top: 1021px;
  left: 0;
  width: 412px;
  height: 248px;
}
.pngegg-4-10,
.pngegg-4-11,
.pngegg-4-12,
.pngegg-4-4,
.pngegg-7-1 {
  position: absolute;
  top: 640px;
  left: 330px;
  width: 94px;
  height: 94px;
  object-fit: cover;
}
.pngegg-4-10,
.pngegg-4-11,
.pngegg-4-12,
.pngegg-7-1 {
  top: 764px;
  left: 1448px;
}
.pngegg-4-11,
.pngegg-4-12,
.pngegg-7-1 {
  left: 1516px;
}
.pngegg-4-12,
.pngegg-7-1 {
  left: 1380px;
}
.pngegg-7-1 {
  top: 640px;
  left: 408px;
}
.pngegg-4-7,
.pngegg-4-8,
.pngegg-4-9 {
  position: absolute;
  top: 734px;
  left: 1097px;
  width: 88px;
  height: 88px;
  object-fit: cover;
}
.pngegg-4-8,
.pngegg-4-9 {
  left: 1160px;
}
.pngegg-4-9 {
  left: 1034px;
}
.line-div {
  position: absolute;
  top: 2719px;
  left: 160px;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 298px;
  height: 4px;
}
.line-icon,
.test-child12 {
  position: absolute;
  top: 3070.5px;
  left: 162px;
  width: 362px;
  height: 0.6px;
  object-fit: contain;
}
.test-child12 {
  top: 2446px;
  width: 594px;
  height: 1px;
}
.test-child13,
.test-child14 {
  position: absolute;
  top: 2074px;
  left: 149px;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 565px;
  height: 4px;
}
.test-child14 {
  top: 1713px;
  left: 144px;
  width: 657px;
}
.deviconpython {
  position: absolute;
  top: 2741px;
  left: 227px;
  width: 89px;
  height: 76px;
  overflow: hidden;
}
.test {
  width: 100%;
  position: relative;
  background-color: #e8f5ff;
  height: 4334px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-gray-200);
  font-family: var(--font-silkscreen);
}
